    <header>
        <h1 class="page--title">Saber y ganar</h1>
        <h2 class="page--subtitle">Todo es empezar</h2>
        <ul>
            <li>Tienes 20 segundos para responder cada pregunta.</li>
            <li>La puntuación depende del tiempo que tardes en contestar</li>
            <li>Las respuestas incorrectas y las preguntas que no se respondan restan puntos</li>
            <p>je je je je je je je je</p>
        </ul>

        <button type="button" id="start--button" class="start--button">Empieza a jugar</button>
    </header>
