    <main>
        <div class="questions__container hidden">
            <h3 class="question--title"></h3>
            <ul class="answer--list">
                <span class="clock"></span>

                <li class="answer--option">
                    <input type="radio" value="" name="radAnswer" class="input-radio">
                    <label class="question--answer"></label>
                </li>

                <li class="answer--option">
                    <input type="radio" value="" name="radAnswer" class="input-radio">
                    <label class="question--answer"></label>
                </li>

                <li class="answer--option">
                    <input type="radio" value="" name="radAnswer" class="input-radio">
                    <label class="question--answer"></label>
                </li>

            </ul>
            <p>Selecciona la respuesta que creas correcta</p>

            <h3 class="result--title"></h3>
            <h3 class="result--score"></h3>
            <button id="next--question--button">Pasa a la siguiente pregunta</button>

        </div>

        <div class="scores__container"></div>
        <div class="statistics__container"></div>
    </main>

