<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saber y Ganar</title>
</head>
<body>
    include main
    //- <script src="main.js"></script>
    //- <script src="questionsNavigator.js"></script>
    //- <script>saberganar.game(saberganar.questionsNavigator).start()</script>
    <script src="romanNumerals.js"></script>
</body>
</html>