<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saber y Ganar</title>
</head>
<body>
    <h1>Hola #{variable}</h1>
    include header.html
    include body.html
    <script src="main.js"></script>
    <script>application().start()</script>
</body>
</html>